<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <%= text %>
    <a href="/new">Add new</a>
    <form action="/delete" method="post">
      <button
        onclick="return confirm('Are you sure you want to delete all usernames?');"
        type="submit"
      >
        Clear all
      </button>
    </form>
  </body>
</html>
